body {
  background: -webkit-linear-gradient(
    to right,
    #ec2f4b,
    #2185fc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec2f4b,
    #2185fc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  color: rgb(90, 89, 89);
}
